<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemoryOfSimon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBB2BB8A1E1D34DC0025DDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB2BB9E1E1D34DC0025DDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB2BBA91E1D34DC0025DDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
